*
{
	margin:0;
	border:0;
	padding:0;
	border-collapse:collapse;
	border-spacing:0;
	font-size:inherit;
	font-style:inherit;
	font-family:inherit;
	font-weight:inherit;
  text-decoration:none;
	color:inherit;
	background-color:transparent;
	box-sizing:border-box;
}
*:focus
{
	outline:0
}
body,html
{
	width:100%;
	position:relative;
  font-family:"Helvetica Neue", Helvetica, sans-serif;
  background-color:#ccc;
  font-size:18px;
}
html
{
  height:100%;
}
body
{
  min-height:100%;
}
div
{
  position:relative;
}
input, textarea
{
  outline:1px dotted #ccc;
}
input:focus,
textarea:focus
{
  background-color:#ddd;
}

body
{
  width:90%;
  max-width:900px;
  margin:0 auto;
}
table
{
  width:100%;
}
select
{
  width:100%;
  border-bottom:1px dashed #eee;
  margin:10px 0;
}
td
{
  vertical-align:top;
}
tr
{
  border-bottom:1px dotted #aaa;
}
a
{
  display:inline-block;
  color:#345;
  margin:5px;
  line-height:2em;
  height:2em;
  min-width:2em;
  border:1px solid transparent;
  border-radius:3px;
  padding:0 .5em;
  background-color:#fff;
  overflow:hidden;
  cursor:pointer;
}
h1 a
{
  display:block;
}
table a
{
}
td:nth-child(1) a
{
  color:black;
}
tr:nth-child(odd) a,
#filter_select a:hover
{
  background-color:#dde;
}
table a:hover
{
  border-color:#345;
}
table td:nth-of-type(3)
{
  width:25px;
  font-weight:bold;
}
table td:nth-of-type(1)
{
  width:300px;
}
table td:nth-of-type(2)
{
  width:300px;
}
p
{
  font-size:12px;
  line-height:1.2em;
  padding-top:11px;
  margin:5px;
}
h2
{
  text-align:center;
  color:#999;
  font-size:18px;
  line-height:2em;
}
#filter_select
{
  display:block;
  white-space:nowrap;
  overflow-x:scroll;
}
